assets/plugins/bootstrap/css/bootstrap.min.css linguist-vendored
assets/plugins/font-awesome/css/font-awesome.css linguist-vendored
assets/css/styles.css linguist-vendored
assets/plugins/font/font-css.css linguist-vendored
