<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mike Lima - CV</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mike Lima - Currículo">
    <meta name="author" content="Mike Lima">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel='stylesheet' href="assets/plugins/font/font-css.css">
    <link rel="stylesheet" href="assets/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/font-awesome.min.css">
</head>

<body ng-app="app">
    <div class="wrapper" ng-controller="portifolioController">
        <div style="background-color: #F5F5F5;">
            <div class="row" style="text-align: center;">
                <div class="col-xs-9" style="margin-top: -2%;">
                    <button type="button" class="btn btn-warning btn-lg" ng-click="downloadPdf()" data-toggle="modal" data-target="#sppiner">
                        Download
                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-xs-3" style="padding-right: 7%;">
                    <a class="col-xs-3">
                        <img alt="Brazil" style="cursor: pointer" ng-click="changeLanguage('BR')" src="assets/images/Brazil.ico" width="50" height="40">
                    </a>
                    <a class="col-xs-3">
                        <img alt="United States" style="cursor: pointer" ng-click="changeLanguage('US')" src="assets/images/United-States.ico" width="50"
                            height="40">
                    </a>
                    <a class="col-xs-3">
                        <img alt="Spain" style="cursor: pointer" ng-click="changeLanguage('SP')" src="assets/images/Spain.ico" width="50" height="40">
                    </a>
                    <a class="col-xs-3">
                        <img alt="England" style="cursor: pointer" ng-click="changeLanguage('UK')" src="assets/images/England.ico" width="50" height="40">
                    </a>
                </div>
            </div>
            <div id='printDiv' width="500" height="400">
                <div class="sidebar-wrapper" style="height: 1755px;min-height: 1528px;">
                    <div class="profile-container">
                        <img style="width: 180px;" class="profile" src="assets/images/profile.png" />
                        <h1 class="name">Mike Lima</h1>
                        <h3 class="tagline">Desenvolvedor Full Stack</h3>
                    </div>
                    <!--//profile-container-->
                    <div class="contact-container container-block">
                        <ul class="list-unstyled contact-list">
                            <li class="email">
                                <i class="fa fa-envelope"></i>
                                <a href="mailto: mikee_2008@hotmail.com">mikee_2008@hotmail.com</a>
                            </li>
                            <li class="github">
                                <i class="fa fa-github"></i>
                                <a href="https://github.com/mikemajesty" target="_blank">github.com/mikemajesty</a>
                            </li>
                            <li class="linkedin">
                                <i class="fa fa-linkedin"></i>
                                <a href="https://www.linkedin.com/in/mike-lima-77097993/" target="_blank">linkedin.com/mike-lima</a>
                            </li>
                        </ul>
                    </div>
                    <!--//contact-container-->
                    <div class="education-container container-block">
                        <h2 class="container-block-title" id="formacao">Formação</h2>
                        <div class="item">
                            <h4 class="degree" id="curso">Sistemas de Informação</h4>
                            <h5 class="meta" id="faculdade">Faculdade Barão de Piratininga</h5>
                            <div class="time">2013 - 2016</div>
                        </div>
                        <!--//item-->
                    </div>
                    <!--//education-container-->
                    <div class="languages-container container-block">
                        <h2 class="container-block-title" id='idiomas'>Idiomas</h2>
                        <ul class="list-unstyled interests-list">
                            <li id="portugues">Português
                                <span class="lang-desc" id='nativo'>(Nativo)</span>
                            </li>
                            <li id='ingles'>Inglês
                                <span class="lang-desc">(Intermediário)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="languages-container container-block">
                        <h2 class="container-block-title" id='idiomas'>Hackathons</h2>
                        <ul class="list-unstyled interests-list">
                            <li id="portugues">GS1 BRASIL - 2016
                                <br>
                                <span class="lang-desc" id='campeao'>Campeão</span>
                                <br>
                                <a href="https://github.com/mikemajesty/PagFarma-Web" target="_blank">Pag Farma</a>
                            </li>
                            <hr style="margin-top: 0px;">
                            <li id="portugues"> Tegra 2017
                                <br>
                                <span class="lang-desc" id='campeao2'>Campeão</span>
                                <br>
                                <a href="https://github.com/mikemajesty/BeaconMusic" target="_blank">Beacon Music</a>
                            </li>
                            <hr style="margin-top: 0px;">
                            <li id="portugues">SANTANDER - 2016
                                <br>
                                <span class="lang-desc" id='semifinalista'>Semifinalista</span>
                                <br>
                                <a href="https://github.com/mikemajesty/pay-force-mobile" target="_blank">Pay Force</a>
                            </li>
                            <hr style="margin-top: 0px;">
                            <li id="portugues">UOL HOST - 2016
                                <br>
                                <span class="lang-desc" id='vicecampeao'>Vice Campeão</span>
                                <br>
                                <a href="https://github.com/mikemajesty/E-Connect" target="_blank">E-Connect</a>
                            </li>
                            <hr style="margin-top: 0px;">
                            <li id="portugues">HACK ZURICH - 2016
                                <br>
                                <a href="https://github.com/mikemajesty/HackZurich-Project" target="_blank">Indoor Messages</a>
                            </li>
                            <hr style="margin-top: 0px;">
                            <li id="portugues">SERASA EXPERIAN - 2017
                                <br>
                                <a href="https://github.com/celso-wo/relato-express" target="_blank">Relato Express</a>
                            </li>
                            <hr style="margin-top: 0px;">
                        </ul>
                    </div>
                    <div class="languages-container container-block" id="statisticas-div" style="padding-top:0px">
                        <h2 class="container-block-title" id='statisticas'>Comunidade Open Source</h2>
                        <ul class="list-unstyled interests-list">
                            <a href="https://www.nuget.org/profiles/mikemajesty" class="lang-desc" target="_blank">Nuget</a>
                            <br>
                            <a href="https://www.nuget.org/profiles/mikemajesty" id="nuget-lib" target="_blank">6 Bibliotecas</a>
                            <br>
                            <span> > <b> 3000 Download</span>
                        </ul>
                        <br>
                        <ul class="list-unstyled interests-list">
                            <a href="https://www.npmjs.com/~mikemajesty" class="lang-desc" target="_blank">Npm</a>
                            <br>
                            <a style="font-weight: initial;" href="https://www.npmjs.com/~mikemajesty" id="npm-lib" target="_blank">4 Bibliotecas</a>
                            <br>
                            <span> > <b> 4000 </b> Downloads</span>
                        </ul>
                    </div>
                </div>
                <!--//sidebar-wrapper-->
                <div class="main-wrapper" style="height: 1755px;min-height: 1528px; padding-top: 4%">
                    <section class="section summary-section">
                        <h2 class="section-title">
                            <i id='user' class="fa fa-user">
                            </i>
                            <span id="perfil">Perfil Profissional</span>
                        </h2>
                        <div class="summary">
                            <p id="introduction">Tenho mais de {{year}} anos de experiência em desenvolvimento web em projetos f&#236;nanceiros
                                e varejo, com vivência em diversas plataformas como: C#, Java, NodeJs e Angular, sempre obtendo
                                protagonismo nos projetos que participei. Bacharel em sistemas de informação, convivi com
                                diversos desaf&#236;os nesse período devido a minha proatividade e dinamismo, sempre surpreendendo
                                nos desaf&#236;os atribuídos.</p>
                        </div>
                        <!--//summary-->
                    </section>
                    <!--//section-->
                    <section class="section experiences-section">
                        <h2 class="section-title" id="experience">
                            <i id='exp' class="fa fa-briefcase"></i>Experiências
                        </h2>
                        <div class="item">
                            <div class="meta">
                                <div class="upper-row">
                                    <h3 class="job-title" id="jobtegra-title">Desenvolvedor Full Stack</h3>
                                    <div class="time" id="tegra-job-time">Jan/2016 - Jan/2018</div>
                                </div>
                                <!--//upper-row-->
                                <div class="company">
                                    <a href="http://www.tegra.com.br/" target="_blank">Tegra - Sorocaba</a>
                                </div>
                            </div>
                            <!--//meta-->
                            <div class="details">
                                <p id="job-desc-tegra">Desenvolvimento em diversas plataformas e linguagens como: C#, Java , Node Js e Angular.</p>
                            </div>
                            <!--//details-->
                        </div>
                        <div class="item">
                            <div class="meta">
                                <div class="upper-row">
                                    <h3 class="job-title" id="jobibm-title">Desenvolvedor Full Stack</h3>
                                    <div class="time" id="ibm-job-time">Jan/2018 - Jan/2019</div>
                                </div>
                                <!--//upper-row-->
                                <div class="company">
                                    <a href="https://www.ibm.com/br-pt/" target="_blank">IBM - Brasil</a>
                                </div>
                            </div>
                            <!--//meta-->
                            <div class="details">
                                <p id="job-desc-ibm">Desenvolvimento de aplicaçoes utilizando Node Js e Angular 4.</p>
                            </div>
                            <!--//details-->
                        </div>
                        <div class="item">
                            <div class="meta">
                                <div class="upper-row">
                                    <h3 class="job-title" id="accenture-job-title">Desenvolvedor Full Stack</h3>
                                    <div class="time time-accenture">Jan/2019 - Atualmente</div>
                                </div>
                                <!--//upper-row-->
                                <div class="company">
                                    <a href="https://www.accenture.com/br-pt/new-applied-now" target="_blank">Accenture - Brasil</a>
                                </div>
                            </div>
                            <!--//meta-->
                            <div class="details">
                                <p id="job-desc-accenture">Desenvolvimento de aplicaçoes utilizando Node Js e Angular 6.</p>
                            </div>
                            <!--//details-->
                        </div>
                        <!--//item-->
                    </section>
                    <!--//section-->
                    <section class="section projects-section">
                        <h2 class="section-title" id="p-p">
                            <i class="fa fa-archive" id='professional-projects'></i>Projetos profissionais
                        </h2>
                        <div class="item" style="margin-bottom: 1px">
                            <span class="project-title">
                                <a href="http://www.brap.com.br/" target="_blank">BR Partners</a>
                            </span> -
                            <span class="project-tagline" id="br-partners">Novo Portal de Recursos Humanos do BR Partners que faz a gestão de todo o departamento. O sistema
                                possibilitou em um acompanhamento excelente das atividades dos funcionário, com métricas
                                e relatórios que agregaram muito para o banco.</span>
                        </div>
                        <div class="item" style="font-family: serif; font-weight: bold;">
                            C#: ASPNET MVC 5, Angular, SqlServer.
                        </div>
                        <div class="item" style="margin-bottom: 1px">
                            <span class="project-title">
                                <a href="https://www.assai.com.br/" target="_blank">Assaí Atacadista</a>
                            </span> -
                            <span class="project-tagline" id="assai">Sistema de conciliação de Notas f&#236;scais, o sistema permite a comparação entre notas f&#236;scais
                                lançadas pelo Sefaz com as notas f&#236;scais lançadas manualmente pelo departamento f&#236;scal
                                do Assaí, oferecendo uma rápida validação se existe discrepância entre os lançamentos.</span>
                        </div>
                        <div class="item" style="font-family: serif; font-weight: bold;">
                            Java: EJB, JSF, CDI, JPA, JQuery, PrimeFaces, Oracle.
                        </div>
                        <div class="item" style="margin-bottom: 1px">
                            <span class="project-title">
                                <a href="https://www.prudential.com/" target="_blank">Prudential Financial</a>
                            </span> -
                            <span class="project-tagline" id="prudential">Sistema para premiação de colaboradores, o sistema disponibiliza métricas e estatísticas de cada
                                colaborador, permitindo assim saber dentre eles qual obteve o maior destaque, por esses motivos
                                o sistema obteve um grande destaque entre os gestores.</span>
                        </div>
                        <div class="item" style="font-family: serif; font-weight: bold;">
                            JavaScript: Node JS, Angular, Docker, MySql.
                        </div>
                        <div class="item" style="margin-bottom: 1px">
                            <span class="project-title">
                                <a href="https://www.assai.com.br/" target="_blank">Assaí Atacadista</a>
                            </span> -
                            <span class="project-tagline" id="horus">ERP que controla todas as informações da empresa. O sistema está atualmente em todas as f&#236;l&#236;as
                                do Assaí, isso abrange mais de 120 lojas, o sistema gerencia dados, recursos e processos,
                                aumentando signif&#236;camente o poder do Assaí em tomada de decisões.</span>
                        </div>
                        <div class="item" style="font-family: serif; font-weight: bold;">
                            Java: Vraptor, EJB, JSF, CDI, JPA, JQuery, PrimeFaces, Oracle.
                        </div>
                        <div class="item" style="margin-bottom: 1px">
                            <span class="project-title">
                                <a href="https://www.santander.com.br" target="_blank">Santander</a>
                            </span> -
                            <span class="project-tagline" id="s2m">Sistema desenvolvido diretamente para o Presidente do Santander Brasil, com a função de 
                                fornecer gráficos e métricas de todos os gestores de entrega do banco, fornecendo assim material para análise individual e 
                                geral da saúde dos projetos do Santander.                            </span>
                        </div>
                        <div class="item" style="font-family: serif; font-weight: bold;">
                            JavaScript: Node JS, Angular 4, Docker, MariaDB.
                        </div>
                        <h2 class="section-title" id="p-pp">
                            <i class="fa fa-child" id='personal-projects'></i>Projetos pessoais
                        </h2>
                        <!--//intro-->
                        <div class="item">
                            <span class="project-title">
                                <a href="https://github.com/mikemajesty/Chocobo-Date-Range-Picker" target="_blank">Chocobo Range Picker</a>
                            </span> -
                            <span class="project-tagline" id="chocobo">Calendário em AngularJS para escolher um intervalo de datas.</span>
                        </div>
                        <!--//item-->
                        <div class="item">
                            <span class="project-title">
                                <a href="https://github.com/mikemajesty/coolvalidator" target="_blank">Cool Validator</a>
                            </span> -
                            <span class="project-tagline" id="coovalidator">Biblioteca em C# para validação de TextBox e objetos.</span>
                        </div>
                        <!--//item-->
                        <div class="item">
                            <span class="project-title">
                                <a href="https://github.com/mikemajesty/StormReport" target="_blank">Storm Report</a>
                            </span> -
                            <span class="project-tagline" id="stormreport">Biblioteca em C# para facilitar na criação de relatório em ASP.NET</span>
                        </div>
                        <!--//item-->
                        <div class="item">
                            <span class="project-title">
                                <a href="https://github.com/mikemajesty/Excalibur-Dual-List" target="_blank">Excalibur Dual List</a>
                            </span> -
                            <span class="project-tagline" id="excalibur">Dual List em AngularJs e bootstrap.</span>
                        </div>
                        <div class="item">
                            <span class="project-title">
                                <a href="https://github.com/mikemajesty/Vue-Month-Calendar" target="_blank">Vue Month Calendar</a>
                            </span> -
                            <span class="project-tagline" id="vuemonthcalendar">Componente para escolha de mês e ano em VueJs e VueMaterial.</span>
                        </div>
                        <div class="item">
                            <span class="project-title">
                                <a href="https://github.com/mikemajesty/legend_of_github" target="_blank">Legend of GitHub</a>
                            </span> -
                            <span class="project-tagline" id="legendofgithub">Jogo baseado nas estatísticas do github do usuário.</span>
                        </div>
                        <div class="item">
                            <span class="project-title">
                                <a href="https://github.com/mikemajesty/github-scrap-api" target="_blank">GitHub API</a>
                            </span> -
                            <span class="project-tagline" id="githubapi">API para gerar dados estatísticos a partir do github do usuário.</span>
                        </div>
                        <!--//item-->
                        <div class="item">
                            <span class="project-title">
                                <a href="https://github.com/mikemajesty/Vue-Dual-List" target="_blank">Vue Dual List</a>
                            </span> -
                            <span class="project-tagline" id="vueduallist">Dual List em VueJs e VueMaterial.</span>
                        </div>
                        <!--//item-->
                        <div class="item">
                            <span class="project-title">
                                <a href="https://github.com/mikemajesty/cooldatagridview" target="_blank">Cool DataGridView</a>
                            </span> -
                            <span class="project-tagline" id="cooldatagrid">Biblioteca em C# para melhorar a interface gráfica de uma TableView.</span>
                        </div>
                        <!--//item-->
                    </section>
                    <div class="modal fade" id="sppiner" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-body" style="width: 200px; height: 600px; position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%; overflow:auto;">
                            <img style="padding-top: 180%;" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                alt="Foto">
                        </div>
                    </div>
                </div>

            </div>
            <!-- Javascript -->
            <script src="assets/plugins/angular/angular.min.js"></script>
            <script src="assets/plugins/jquery/jquery.min.js"></script>
            <script src="assets/plugins/jspdf/jspdf.min.js"></script>
            <script src="assets/plugins/htmlToCanvas/html2canvas.js"></script>
            <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.0-rc.2/angular-sanitize.min.js"></script>
            <!-- custom js -->
            <script type="text/javascript" src="assets/js/main.js"></script>
            <script type="text/javascript" src="assets/js/app.js"></script>
            <script type="text/javascript" src="assets/js/controller.js"></script>
</body>

</html>