<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mike Lima - CV</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mike Lima - Currículo">
    <meta name="author" content="Mike Lima">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel='stylesheet' href="assets/plugins/font/font-css.css">
    <link rel="stylesheet" href="assets/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/font-awesome.min.css">
</head>

<body ng-app="app">
    <div class="wrapper" ng-controller="portifolioController">
        <div style="background-color: #F5F5F5;">
            <button data-toggle="modal" data-target="#sppiner" style="position:relative; left:40%; margin-bottom: 10px" ng-click="downloadPdf()"
                class="btn btn-warning">    
                <i class="fa fa-download fa-6"></i> Download
            </button>
           <a href="#" ng-click="changeLanguage('BR')">
                <img alt="Spain" src="assets/images/Brazil.ico" style="margin-left: 70.9%" width="40" height="30">
           </a>
           <a href="#" ng-click="changeLanguage('US')">
                <img alt="Spain" src="assets/images/United-States.ico" width="40" height="30">
           </a>
           <a href="#" ng-click="changeLanguage('SP')">
                <img alt="Spain" src="assets/images/Spain.ico" width="40" height="30">
           </a>
            <a href="#" ng-click="changeLanguage('UK')">
                <img alt="Spain" src="assets/images/England.ico" width="40" height="30">
           </a>
        </div>
        <div id='printDiv'  width="500" height="400">
            <div class="sidebar-wrapper" style="max-height: 1528px;">
                <div class="profile-container">
                    <img class="profile" src="assets/images/profile.png"
                    />
                    <h1 class="name">Mike Lima</h1>
                    <h3 class="tagline">Desenvolvedor Full Stack</h3>
                </div>
                <!--//profile-container-->
                <div class="contact-container container-block">
                    <ul class="list-unstyled contact-list">
                        <li class="email"><i class="fa fa-envelope"></i><a href="mailto: mikee_2008@hotmail.com">mikee_2008@hotmail.com</a></li>
                        <li class="github"><i class="fa fa-github"></i><a href="https://github.com/mikemajesty" target="_blank">github.com/mikemajesty</a></li>
                        <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/mike-lima-77097993/" target="_blank">linkedin.com/mike-lima</a></li>
                        <li class="phone"><i class="fa fa-phone"></i><a href="tel:15997624783">(15) 99762-4783</a></li>
                    </ul>
                </div>
                <!--//contact-container-->
                <div class="education-container container-block">
                    <h2 class="container-block-title" id="formacao">Formação</h2>
                    <div class="item">
                        <h4 class="degree" id="curso">Sistemas de Informação</h4>
                        <h5 class="meta" id="faculdade">Faculdade Barão de Piratininga</h5>
                        <div class="time">2013 - 2016</div>
                    </div>
                    <!--//item-->
                </div>
                <!--//education-container-->
                <div class="languages-container container-block">
                    <h2 class="container-block-title" id='idiomas'>Idiomas</h2>
                    <ul class="list-unstyled interests-list">
                        <li id="portugues">Português <span class="lang-desc" id='nativo'>(Nativo)</span>
                        </li>
                        <li id='ingles'>Inglês <span class="lang-desc">(Intermediário)</span></li>
                    </ul>
                </div>
            </div>
            <!--//sidebar-wrapper-->
            <div class="main-wrapper" style="max-height: 1528px;">
                <section class="section summary-section">
                    <h2 class="section-title">
                        <i id='user' class="fa fa-user">
                        </i><span id="perfil">Perfil Profissional</span>
                    </h2>
                    <div class="summary">
                        <p id="introduction">Tenho {{year}} anos de experiência em desenvolvimento web em projetos financeiros e varejo, com vivência
                            em diversas plataformas como: C#, Java, NodeJs e Angular, sempre obtendo pŕotagonismo nos projetos
                            que participei . Bacharel em sistemas de informação, convivi com diversos desafios nesse período
                            devido a minha proatividade e dinamismo, sempre surpreendendo nos desafios atribuídos.</p>
                    </div>
                    <!--//summary-->
                </section>
                <!--//section-->
                <section class="section experiences-section">
                    <h2 class="section-title"><i id='exp' class="fa fa-briefcase"></i>Experiências</h2>
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Desenvolvedor Web</h3>
                                <div class="time">2015 - Atual</div>
                            </div>
                            <!--//upper-row-->
                            <div class="company"><a href="http://www.tegra.com.br/" target="_blank">Tegra - Sorocaba</a></div>
                        </div>
                        <!--//meta-->
                        <div class="details">
                            <p>Desenvolvimento em diversas plataforma e linguagens como: C#, Java , Nodejs e Angular</p>
                        </div>
                        <!--//details-->
                    </div>
                    <!--//item-->
                </section>
                <!--//section-->
                <section class="section projects-section">
                    <h2 class="section-title"><i id='project' class="fa fa-archive"></i>Projetos</h2>
                    <div class="intro">
                        <p> <b>Projetos pessoais </b></p>
                    </div>
                    <!--//intro-->
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/Chocobo-Date-Range-Picker" target="_blank">Chocobo Range Picker</a>
                    </span> -
                        <span class="project-tagline">Componente de calendário para range de datas em AngularJs.</span>
                    </div>
                    <!--//item-->
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/coolvalidator" target="_blank">Cool Validator</a>
                    </span> -
                        <span class="project-tagline">Biblioteca em c# para validação de TextBox e objetos.</span>
                    </div>
                    <!--//item-->
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/Excalibur-Dual-List" target="_blank">Excalibur Dual List</a>
                    </span> -
                        <span class="project-tagline">Componente de Dual List em AngularJs e bootstrap.</span>
                    </div>
                     <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/Vue-Month-Calendar" target="_blank">Vue Month Calendar</a>
                    </span> -
                        <span class="project-tagline">Componente para escolha de mês e ano em VueJs e VueMaterial.</span>
                    </div>
                    <!--//item-->
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/coolreport" target="_blank">Cool Report</a>
                    </span> -
                        <span class="project-tagline">Biblioteca em c# para gerar relatórios com Entity Framework.</span>
                    </div>
                    <!--//item-->
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/Vue-Dual-List" target="_blank">Vue Dual List</a>
                    </span> -
                        <span class="project-tagline">Componente de Dual List em VueJs e VueMaterial.</span>
                    </div>
                    <!--//item-->
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/BeaconMusic" target="_blank">Beacon Music</a>
                    </span> -
                        <span class="project-tagline">Jukebox para pubs, integrado com um aplicativo mobile.
</span>
                    </div>
                    <!--//item-->
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/cooldatagridview" target="_blank">Cool DataGridView</a>
                    </span> -
                        <span class="project-tagline">Biblioteca em c# para melhorar a interface de um DataGridView.</span>
                    </div>
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/Caixapadariav2" target="_blank">Comanda Fácil</a>
                    </span> -
                        <span class="project-tagline">Sistema de comanda eletronica para comércios.</span>
                    </div>
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/coolsync" target="_blank">Cool Sync</a>
                    </span> -
                        <span class="project-tagline">Biblioteca em c# para execução em multi thread.</span>
                    </div>
                    <!--//item-->
                    <div class="intro">
                        <p> <b>Hackathons </b></p>
                    </div>
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/PagFarma-Web" target="_blank">Pag Farma</a>
                    </span> -
                        <span class="project-tagline">(GS1 BRASIL 2016 - Campeão) - Aplicativo mobile para leilão reverso de remédios.
</span>
                    </div>
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/E-Connect" target="_blank">E-Connect</a>
                    </span> -
                        <span class="project-tagline">(UOL HOST 2016 - Vice Campeão) - Chatbot para auxiliar o empreendedor a iniciar seu negócio.
</span>
                    </div>
                    <!--//item-->
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/HackZurich-Project" target="_blank">Indoor Messages</a>
                    </span> -
                        <span class="project-tagline">(HACK ZURICH 2016) - Aplicação para auxiliar encontrar pessoas em caso de desastres. 
</span>
                    </div>
                    <!--//item-->
                    <div class="item">
                        <span class="project-title">
                        <a href="https://github.com/mikemajesty/pay-force-mobile" target="_blank">Pay Force</a>
                    </span> -
                        <span class="project-tagline">(SANTANDER 2016 - Semifinalista) - Carteira digital que usa seu número de celular como token de pagamento.

</span>
                    </div>
                    <!--//item-->
                </section>
                <!--//section-->
                <section class="skills-section section">
                    <h2 class="section-title"><i id='skill' class="fa fa-rocket"></i>Habilidades &amp; Proficiências</h2>
                    <div class="skillset">
                        <div class="item" style="cursor: pointer;" data-toggle="modal" ng-click="changeModalText('C#')" data-target="#myModal">
                            <h3 class="level-title">C#</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="80%">
                                </div>
                            </div>
                            <!--//level-bar-->
                        </div>
                        <!--//item-->
                        <div class="item" style="cursor: pointer;" data-toggle="modal" ng-click="changeModalText('Angular')" data-target="#myModal">
                            <h3 class="level-title">Angular</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="65%">
                                </div>
                            </div>
                            <!--//level-bar-->
                        </div>
                        <!--//item-->
                        <div class="item" style="cursor: pointer;" data-toggle="modal" ng-click="changeModalText('Java')" data-target="#myModal">
                            <h3 class="level-title">Java</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="70%">
                                </div>
                            </div>
                            <!--//level-bar-->
                        </div>
                        <!--//item-->
                        <div class="item" style="cursor: pointer;" data-toggle="modal" ng-click="changeModalText('NodeJs')" data-target="#myModal">
                            <h3 class="level-title">NodeJs</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="68%">
                                </div>
                            </div>
                            <!--//level-bar-->
                        </div>
                        <!--//item-->
                        <div class="item" style="cursor: pointer;" data-toggle="modal" ng-click="changeModalText('SQL')" data-target="#myModal">
                            <h3 class="level-title">SQL</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="75%">
                                </div>
                            </div>
                            <!--//level-bar-->
                        </div>
                        <!--//item-->
                        <div class="item" style="cursor: pointer;" data-toggle="modal" ng-click="changeModalText('JavaScript')" data-target="#myModal">
                            <h3 class="level-title">JavaScript</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="60%">
                                </div>
                            </div>
                            <!--//level-bar-->
                        </div>
                        <!--//item-->
                    </div>
                </section>
                <!--//skills-section-->
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                        </div>
                        <div class="modal-body" ng-bind-html='body'>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="sppiner" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-body" style="width: 200px; height: 600px; position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%; overflow:auto;">
                    <img style="padding-top: 180%;" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                        alt="">
                </div>
            </div>
            <!-- /.modal -->
            <!--//main-body-->
        </div>
    </div>
    <!--//footer-->
    <!-- Javascript -->
    <script src="assets/plugins/angular/angular.min.js"></script>
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <script src="assets/plugins/jspdf/jspdf.min.js"></script>
    <script src="assets/plugins/htmlToCanvas/html2canvas.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.0-rc.2/angular-sanitize.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/controller.js"></script>
</body>
</html>